[build]
  base = "ballys-app"
  publish = "dist"
  command = "npm run build"

[functions]
  directory = "ballys-app/netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
